<h1>Upcoming Matches</h1>
<button class="btn btn-info" type="button" name="button" id="demoStep">demo 1</button>
<button class="btn btn-danger" type="button" name="button" id="demoRemove">emptyMongo</button>

<% if(message.length > 0) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<%# div for games with status not timed or finished%>
<%# if length is > 0 then show div%>
<div class="container-fluid updateContainer">
</div>

<%# change the class below to only show timed games with the predict button%>
<div class="container-fluid timedContainer">
  <% timedArr.forEach(function(match) { %>
    <% var homeLogo = teamObj.crests[match.homeTeam] %>
    <% var awayLogo = teamObj.crests[match.awayTeam] %>
    <div class="row" id=<%= match.matchNo%>>
      <div class="col-sm-4">
        <div class="card card-block text-xs-left">
          <img class="card-img-top logo" src=<%= homeLogo %> alt="Team Logo">
          <h4 class="card-title"><%= match.homeTeam %></h4>
          <p class="card-text"><%= teamObj.shortName[match.homeTeam] %></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block text-xs-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs float-xs-left">
            <li class="nav-item">
              <a class="nav-link active" href="#">Date</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Odds</a>
            </li>
          </ul>
        </div>
        <h4 class="card-title"><%= match.date %></h4>
        <% var concatjson = { details: match, user: user_id, homeTeam: homeLogo, awayTeam: awayLogo}%>
        <% var jsonDetails = JSON.stringify(concatjson).replace(/\s/g, "") %>
        <% var disabled %>
        <% var modalBtnText = "Vote" %>
        <% if (userVotesArr.indexOf(match.matchNo) > -1) { %>
          <% disabled = "disabled" %>
          <% modalBtnText = "Voted" %>
        <% } %>
        <button type="button" class="btn btn-primary modalBtn" <%= disabled %> data-toggle="modal" data-target="#myModal" data-match=<%=jsonDetails%>>
          <%= modalBtnText %>
        </button>
        <div class="card-footer text-muted">

        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block text-xs-right">
          <img class="card-img-top logo" src=<%= awayLogo %> alt="Team Logo">
          <h4 class="card-title"><%= match.awayTeam %></h4>
          <p class="card-text"><%= teamObj.shortName[match.awayTeam] %></p>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<div class="bd-myModal">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">New Vote</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="modal-teamSelect">
                <input id="modalHome" type="radio" name="team-name" value="homeTeam" />
                <label class="col-sm-6 modal-teamLogo" for="modalHome"><img
                  id="homeLogo" src=""
                  alt="Home Team Logo" /></label>
                <input id="modalAway" type="radio" name="team-name" value="awayTeam" />
                <label class="col-sm-6 modal-teamLogo" for="modalAway"><img
                  id="awayLogo" src=""
                  alt="Away Team Logo" /></label>
              </div>
            </div>
            <div class="form-group btn-block">
              <label class="col-sm-12" for="token">Tokens:</label>
              <select class="form-control" id="token">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="col-sm-6 alert alert-danger modalAlert hide"></div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="newVote" class="btn btn-primary">Vote</button>
        </div>
      </div>
    </div>
  </div>
</div>
