<h1>My Profile</h1>

<% if(message.length > 0) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>
<div class="container-fluid">
  <div class="container-fluid removeSpaces">
    <div class="row">
      <div class="col-md-12 removeSpaces">
        <div class="well well-small clearfix">
          <div class="row-fluid">
            <div class="col-md-2">
               <img src="https://2.bp.blogspot.com/-wwKihMONlqI/V8j2VMBCXHI/AAAAAAAAKcs/6alqAxZHL9UTGaKwTNYrQXFWbroiq4DiQCLcB/s320/2016-17-premier-league-sleeve-patch-2.jpg" class="img-polaroid"/>
            </div>
            <div class="col-md-2 removeSpaces">
               <h2><%= user.local.username %></h2>
              <ul class="unstyled">
                <li><i class="icon-phone"></i> <%= user.local.handphone %></li>
                <li><i class="icon-envelope"></i> <%= user.local.email %></li>
                <li><i class="icon-globe"></i> <%= user.local.favTeam %></li>
              </ul>
            </div>
            <div class="col-md-3 removeSpaces">
              <div class="row">
                <h2><%=user.local.tokens%></h2>
              </div>
              <div class="row">
                <h4>Tokens</h4>
              </div>
            </div>
            <div class="col-md-3 removeSpaces">
              <div class="row">
                <h2><%=user.local.score%></h2>
              </div>
              <div class="row">
                <h4>Score</h4>
              </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <!--Body content-->
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid removeSpaces">
    <a href="/users/<%=user.id%>/edit" class="btn btn-info">Edit Account Details</a>
    <form method="POST" action="/users/<%=user.id%>" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-primary btn-md btn-danger">Remove Account</button>
    </form>
    <h4>Vote History</h4>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Home</th>
              <th>Score</th>
              <th>Away</th>
              <th>Vote</th>
              <th>Result</th>
              <th>Tokens placed</th>
              <th>Return</th>
            </tr>
          </thead>
          <tbody id="myTable">
          <% var count = 1 %>
          <% voteArr.forEach(function(vote) { %>
            <% var ds = new Date(vote.matchid.date)%>
            <% var ddmmyy = ds.getDate() + "-" + ds.getMonth() + "-" + ds.getFullYear() + "  " + ds.getHours() + ":" + ((ds.getMinutes()<10?'0':'') + ds.getMinutes())%>
            <tr>
              <td><%= count%></td>
              <% count++ %>
              <td><%= ddmmyy%></td>
              <td><%= vote.matchid.homeTeam %></td>
              <td><%= vote.matchid.result.goalsHomeTeam %> : <%= vote.matchid.result.goalsAwayTeam %></td>
              <td><%= vote.matchid.awayTeam %></td>
              <td><%= vote.vote %></td>
              <td><%= vote.result %></td>
              <td><%= vote.amount %></td>
              <td><%= vote.return %></td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
	</div>
</div>
</div>
</div>
