<h1>User Rankings</h1>

<div class="container-fluid">
  <div class="container-fluid removeSpaces">
    <div class="row">
      <div class="col-md-12 removeSpaces">
        <div class="well well-small clearfix">
          <div class="row-fluid">
            <div class="col-md-2">
               <img src="https://2.bp.blogspot.com/-wwKihMONlqI/V8j2VMBCXHI/AAAAAAAAKcs/6alqAxZHL9UTGaKwTNYrQXFWbroiq4DiQCLcB/s320/2016-17-premier-league-sleeve-patch-2.jpg" class="img-polaroid"/>
            </div>
            <div class="col-md-1">
              <div class="row">
                <h2><%= user.local.username %></h2>
              </div>
            </div>
            <div class="col-md-3 removeSpaces">
              <div class="row">
                <h2><%= userIndex %></h2>
              </div>
              <div class="row">
                <h4>Rank</h4>
              </div>
            </div>
            <div class="col-md-3 removeSpaces">
              <div class="row">
                <h2><%=user.local.tokens%></h2>
              </div>
              <div class="row">
                <h4>Tokens</h4>
              </div>
            </div>
            <div class="col-md-3 removeSpaces">
              <div class="row">
                <h2><%=user.local.score%></h2>
              </div>
              <div class="row">
                <h4>Score</h4>
              </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <!--Body content-->
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid removeSpaces">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>favTeam</th>
              <th>Tokens</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody id="myTable">
          <% var count = 1 %>
          <% allUsers.forEach(function(Users) { %>
            <tr>
              <td><%= count%></td>
              <% count++ %>
              <td><a class="userRankLink" href="/users/<%=user._id%>/<%=Users._id%>"><%= Users.local.username %></a></td>
              <td><%= Users.local.favTeam %></td>
              <td><%= Users.local.tokens %></td>
              <td><%= Users.local.score %></td>
            </tr>
          <% }) %>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 text-center">
      <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
	</div>
</div>
</div>
</div>
